#container1 {
    display: flex;
    /* border: none;
    border-left: solid 2px purple; */

}

.input{
    padding: 16px 16px;
    border-radius: 5px;
    width: 55%;
}
button{
    padding: 18px 7px;
    width: 50%;
    background-color: purple;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;

} 
.icons{
    margin-left: 30%;
}
.image{
    
    padding: 12px 16px;
    width: 80%;
    
}
 .community{
    color: purple;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
  #mine{
margin: 0 auto;
padding: 12px 16px;
}  

 .myforms{
    display: flex;
    border: none;
    padding: 100px;
    margin: 0 auto;
    border-left: solid 2px purple;
}  

