
.input{
    padding: 16px 16px;
    border-radius: 5px;
    width: 55%;
}
button{
    padding: 18px 7px;
    width: 50%;
    background-color: purple;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;

}
.icons{
    margin-left: 30%;
}
.image{
    margin-top: 0%;
}
.community{
    color: purple;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mine{
display: grid;
grid-template-rows: 100px auto;
grid-template-columns: 400px auto;
margin: auto;
margin-top: 0%;
text-align: left;
max-width: 800px;
border-left: solid purple 2px;
margin-left: 60%;
}
.container{
    padding: 10px;
    border: none;
    border-right: solid purple 2px;
    padding-top: 0%;
}
.myforms{
    display: grid;
    margin-top: 0%;
}


